#!/usr/bin/env bash

test -f .env && dotenv  # Auto-export environment variables, if .env is present
source_up               # Find and load .envrc from nearest ancestor directory

# Create conda environment named in environment.yml (if needed) and activate it.
layout anaconda "$(head -1 environment.yml | sed "s/name: //")"

# Trigger reload when environment changes
watch_file environment.yml
